---
layout: default 
title: ⟨ ut ⟩
header: Start
group: navigation
weight: 10
---
{% include JB/setup %}

<!-- Carousel
    ================================================== -->
{% comment %}
carousel-pictures should have a size of 1920x1200px
{% endcomment %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    {% assign maxPost = 8 %} 
    {% assign counter = 0 %} 
    <ol class="carousel-indicators">
        {% for post in site.posts | sort:"date" | reverse %}
            {% if post.carousel %} 
                <li data-target="#myCarousel" data-slide-to="{{ counter }}" {% if counter == 0 %}class="active"{% endif %}></li>
                {% assign counter = counter | plus: 1 %} 
                {% if counter == maxPost %} 
                    {% break %} 
                {% endif %} 
            {% endif %}
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        {% assign counter = 0 %} 
        {% for post in site.posts | sort:"date" | reverse %}
            {% if post.carousel %} 
            <div class="item {%if counter == 0 %}active{% endif %}" style="background-image: url('images/gallery/{{post.carousel}}')">
                    <div class="container">
                        <div class="carousel-caption">
                            <a class="btn btn-lg btn-carousel-main" href="{{post.url}}">{{post.title}}</a>
                            <p><a class="btn btn-lg btn-carousel-sec" href="/{{post.category | downcase }}.html">{{post.category}}</a><br/>
                            <p><a class="btn btn-lg btn-carousel-more" href="{{post.url}}" role="button">mehr...</a></p>
                        </div>
                    </div>
                </div>
                {% assign counter = counter | plus: 1 %} 
                {% if counter == maxPost %} 
                    {% break %} 
                {% endif %} 
            {% endif %}         
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel"
        role="button" data-slide="prev">
        <span class="glyphicon
            glyphicon-chevron-left"></span>
        <span
            class="sr-only">Previous</span>
    </a>
    <a class="right
        carousel-control"
        href="#myCarousel"
        role="button"
        data-slide="next">
        <span
            class="glyphicon
            glyphicon-chevron-right"></span>
        <span
            class="sr-only">Next</span>
    </a>
</div>
