{% comment %}On récupère la langue en fonction de l'URL{% endcomment %}{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}{% unless site.authorized_locales contains locale %}{% assign locale = site.default_locale %}{% endunless %}<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
<meta charset="utf-8">
<title>
    Gregor Sturm
    {% if page.title %}
        - 
        {% if page.header %}
           {{ page.header }}
        {% else %}
            {{ page.title }}
        {% endif %}
    {% endif %}
</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta name="author" content="{{ site.author.name }}">

<!-- Enable responsive viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link href="{{ BASE_PATH }}{{ ASSET_PATH }}/styles.min.css" rel="stylesheet">

<!-- fav and touch icons -->
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

<!-- atom & rss feed -->
<link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
<link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>

<body>
<div class="navbar navbar-fixed-top navbar-default collapse" role="navigation">
    <div class="container-fluid navbar-main">     
        <div class="navbar-center">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
           </div>

            <div class="navbar-collapse navbar-items navbar-items-left">
                <ul class="nav navbar-nav">
                    {% assign pages_list = site.pages %}
                    {% assign group = 'navigation' %}
                    {% include JB/pages_list %}
              </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid navbar-triangle">
    </div>
</div>

        {{ content }}
<div class="footer">
    <div class="container">
        <p class="text-muted">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }} - <a href="/{{ BASE_PATH}}imprint.html">{{ site.data.locales[locale].imprint }}</a>
        </p>
    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/{{ BASE_PATH}}{{ ASSET_PATH}}/js/colorbox.min.js"></script>
<script type="text/javascript">{% include themes/darkmagic/scripts.js %}</script>
{% include JB/analytics %}
</body>
</html>
